.quadrado{
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
    display: inline-block;
}
#q1{
  background-color: azure;
}
#q2{
background-image:linear-gradient(to bottom, yellow, orange);
}
#q3{
background-image: url(img/pattern001.png);
}
#q4{
    background-image: url(img/wallpaper002.jpg);
}
body{
    background-image: url(img/wallpaper001.jpg);
}
